@keyframes backgroundmove {
    0% {
        transform: scale(1.2);
        rotate: -2deg;
    }
    25% {
        transform: scale(1);
        rotate: 0deg;
    }
    50% {
        transform: scale(1.2);
        rotate: 2deg;
    }
    75% {
        transform: scale(1);
        rotate: 0deg;
    }
    100% {
        transform: scale(1.2);
        rotate: -2deg;
    }
}
@keyframes upgNotifier {
    0% {
        box-shadow: 0rem 0rem 0rem 0.7rem rgba(0, 255, 0, 0.7);
    }
    25% {
        box-shadow: 0rem 0rem 0rem 0.7rem rgba(0, 255, 0, 0.3);
    }
    50% {
        box-shadow: 0rem 0rem 0rem 0.7rem rgba(0, 255, 0, 0.7);
    }
    75% {
        box-shadow: 0rem 0rem 0rem 0.7rem rgba(0, 255, 0, 0.3);
    }
    100% {
        box-shadow: 0rem 0rem 0rem 0.7rem rgba(0, 255, 0, 0);
    }
}
#topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-color: #00FF00;
    border-style: solid;
    background-image: url(/assets/bg/bgimageG.png);
    height: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9990;
}
#logo {
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.7rem;
    top: -1.1rem;
    left: 2rem;
    margin-inline: auto;
    position: absolute;
    z-index: 9991;
}
#sideBar {
    background-image: url(/assets/bg/bgimageG.png);
    border-width: 2px;
    border-color: #00FF00;
    border-style: solid;
    height: 40rem;
    width: 21rem;
    border-top: none;
    top: 3.2rem;
    left: -21;
    bottom: 0;
    position: absolute;
    transition: all 140ms ease-in-out;
    z-index: 9989;
}
.upgList {
    position: absolute;
    overflow-y: scroll;
    height: 38rem;
    width: 18rem;
    scrollbar-color: #00FF00 black;
}
.upgFrames {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-width: 2px;
    border-color: #00FF00;
    border-style: solid;
    height: 6rem;
    width: 16.5rem;
    list-style: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #00FF00;
    margin-bottom: 1rem;
}
.upgButtons {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: rgba(0, 255, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
    color: #00FF00;
    height: 2rem;
    width: 11rem;
    margin: 0.3rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    align-items: center;
    font-weight: bold;
}
.upgButtons:hover {
    border-left-width: 1rem;
    border-right-width: 1rem;
    transition: all 2000ms cubic-bezier(0, 2, 0, 1);
}
#upgradeCounter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 18rem;
    height: 4rem;
    color: #00FF00;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 0rem 0rem 10rem rgba(0, 255, 0, 0.1);
}
#closeSideBar {
    width: 1.5rem;
    height: 6rem;
    left: 21rem;
    top: 18rem;
    background-image: url(/assets/bg/bgimageG.png);
    border-width: 2px;
    border-color: #00FF00;
    border-style: solid;
    border-left: none;
    font-weight: bold;
    color: #00FF00;
    position: absolute;
    box-shadow: 0rem 0rem 10rem rgba(0, 255, 0, 0);
    z-index: 9990;
}
.mainWindow {
    border-width: 2px;
    border-color: #00FF00;
    border-style: solid;
    border-top: none;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-inline: auto;
    width: 25rem;
    height: 40rem;
    top: 3.2rem;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    overflow:visible;
    box-shadow: 0px 0 10rem rgba(0, 255, 0, 0.3);
    z-index: 9970;
}
.dataDisplay {
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 12rem;
    align-items: center;
}
#dataValue {
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.7rem;
    position: relative;
    width: fit-content;
    top: 3rem;
    height: 6rem;
    z-index: 9970;
    align-items: center;
    text-align: left;
}
#dataUnit {
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.7rem;
    position: relative;
    width: 15rem;
    height: 6rem;
    z-index: 9970;
    text-align: center;
}
#clicker {
    border-width: 2px;
    border-color: rgba(0, 255, 0, 0.7);
    border-style:solid;
    width: 15rem;
    height: 8rem;
    color: #00FF00;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(1, 1, 1);
    position: fixed;
    top: 27rem;
    box-shadow: 0rem 0rem 10rem rgba(0, 255, 0, 0.1);
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 9980;
}
body {   
    background-image: url(/assets/bg/bgimageG.png);
    margin: 0.4rem;
    z-index: 1;
}
html {
    user-select: none;
    overflow: hidden;   
}
#startScreen {
    position: absolute;
    display: flex;
    background-image: url(/assets/bg/bgimageG.png);
    background-size: 50rem;
    justify-content: center;
    text-align: center;
    z-index: 9998;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 1000ms ease-out 100ms;
    opacity: 1;
}
#title {
    position: absolute;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 4rem;
    z-index: 9998;
    top: 12rem;
    animation-name: backgroundmove;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-fill-mode: both;
    animation-direction: normal;
    animation-duration: 3000ms;
    text-shadow: 0rem 0rem 2rem #00FF00;
}
#startButton {
    position: absolute;
    border-width: 2px;
    border-color: #00FF00;
    border-style: solid;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2rem;
    height: 4rem;
    width: 8rem;
    top: 22rem;
    background-color: black;
}
#menuOpen {
    position: absolute;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-color: #00FF00;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    line-height: 0.4rem;
    right: 1rem;
    top: 0.4rem;
    width: 4.5rem;
    height: 2.2rem;
}
#upgTooltip {
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 100, 0, 0.5)), url(/assets/bg/bgimageG.png);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 12rem;
    height: 6rem;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #00FF00;
    opacity: 0;
}
#unitTooltip {
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 100, 0, 0.5)), url(/assets/bg/bgimageG.png);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 12rem;
    height: 6rem;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #00FF00;
    opacity: 0;
}
#unlockTooltip {
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 100, 0, 0.5)), url(/assets/bg/bgimageG.png);
    position: absolute;
    left: 3rem;
    bottom: 16.5rem;
    width: 12rem;
    height: 6rem;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #00FF00;
    opacity: 0;
}
#logoTooltip {
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 100, 0, 0.5)), url(/assets/bg/bgimageG.png);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 12rem;
    height: 6rem;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #00FF00;
    opacity: 0;
}
#menuContainer {
    display: none;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 3rem 20rem 3rem 20rem;
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-color: #00FF00;
    box-shadow: 0rem 0rem 20rem 20rem rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
#menuSection1 {
    position: absolute;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-color: #00FF00;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    left: 1rem;
    top: 0.4rem;
    bottom: 0.4rem;
    width: 30rem;
}
#quitMenu {
    position: absolute;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-color: #00FF00;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    line-height: 0.4rem;
    right: 1rem;
    top: 0.4rem;
    width: 4.5rem;
    height: 2.2rem;
}